@if ((homePage$ | async)?.slug === 'paris') {
  <app-paris  [data]="(homePage$ | async)" [slug]="slug"></app-paris>
}
@if ((homePage$ | async)?.slug === 'tokyo') {
  <app-tokyo  [data]="(homePage$ | async)" [slug]="slug"></app-tokyo>
}
@if ((homePage$ | async)?.slug === 'osaka') {
  <app-osaka  [data]="(homePage$ | async)" [slug]="slug"></app-osaka>
}
@if ((homePage$ | async)?.slug === 'rome') {
  <app-rome   [data]="(homePage$ | async)" [slug]="slug"></app-rome>
}
@if ((homePage$ | async)?.slug === 'madrid') {
  <app-madrid [data]="(homePage$ | async)" [slug]="slug"></app-madrid>
}
@if ((homePage$ | async)?.slug === 'berlin') {
  <app-berlin [data]="(homePage$ | async)" [slug]="slug"></app-berlin>
}
@if ((homePage$ | async)?.slug === 'denver') {
  <app-denver [data]="(homePage$ | async)" [slug]="slug"></app-denver>
}
