@if (option?.product?.safe_checkout && product.safe_checkout) {
  <div class="paymnet-option">
    <div class="product-title">
      <h4>{{ 'guaranteed_safe_checkout' | translate }}</h4>
      @if (option?.product?.safe_checkout_image) {
        <img [src]="option?.product?.safe_checkout_image" class="img-fluid payment-img"
          >
      }
    </div>
  </div>
}
@if (option?.product?.secure_checkout && product.secure_checkout) {
  <div class="secure-site-sec">
    <h4>{{ 'secure_checkout' | translate }}</h4>
    @if (option?.product?.secure_checkout_image) {
      <img [src]="option?.product?.secure_checkout_image" class="img-fluid payment-img"
        >
    }
  </div>
}
