<!-- Category Style Vertical -->
@if (categories && categories.length && style == 'vertical') {
<div class="category-menu section-b-space">
  <h3>{{ title ? title : 'categories' | translate }}</h3>
  <ul>
    @for (category of categories; track category) {
    <li>
      <div class="category-list">
        <img [src]="category?.category_icon ? category?.category_icon?.original_url : 'assets/images/category.png'"
          [alt]="category?.name">
        <h5>
          <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)">{{ category?.name }}</a>
        </h5>
      </div>
    </li>
    }
  </ul>
</div>
}

<!-- Category Classic Vertical -->
@if (categories && categories.length && style == 'classic_vertical') {
<div class="shop-left-sidebar">
  <ul class="nav nav-pills mb-3 custom-nav-tab">
    @for (category of categories; track category) {
    <li class="nav-item">
      <app-button
        [class]="selectedCategorySlug.length && selectedCategorySlug.includes(category.slug!) ? 'nav-link active' : 'nav-link'"
        [id]="'nav_link_btn'" [spinner]="false" (click)="redirectToCollection(category.slug!)">
        {{ category.name }}
        <img [src]="category?.category_icon ? category?.category_icon?.original_url : 'assets/images/category.png'"
          [alt]="category?.name">
      </app-button>
    </li>
    }
  </ul>
</div>
}

<!-- Category Style Horizontal -->
@if (categories && categories.length && style == 'horizontal') {
<div class="product-wrapper no-arrow" [class]="'category-slider'">
  @if(isBrowser){
    <owl-carousel-o [options]="sliderOption">
      @for (category of categories; track category) {
      <ng-template carouselSlide>
        @if (theme == 'paris') {
        <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="category-box category-dark"
          [class.active]="selectedCategorySlug.length && selectedCategorySlug.includes(category.slug!)">
          <img [src]="image ? image : 'assets/images/shape.png'" class="background-image" alt="shape">
          <img [src]="category?.category_icon ? category?.category_icon?.original_url : 'assets/images/category.png'"
            [alt]="category?.name">
          <h5>{{ category.name }}</h5>
        </a>
        }
        @if (theme == 'madrid') {
        <div class="category-box-list">
          <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="category-name">
            <h4>{{ category.name }}</h4>
            <h6>{{ category.products_count }} {{ 'items' | translate }}</h6>
          </a>
          <div class="category-box-view">
            <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)">
              <img
                [src]="category?.category_image ? category?.category_image?.original_url : 'assets/images/category.png'"
                class="img-fluid" [alt]="category?.name">
            </a>
            <app-button [class]="'btn shop-button'" [id]="'shop_now_btn'" [spinner]="false">
              <span>{{ 'shop_now' | translate }}</span>
              <i class="ri-arrow-right-s-line"></i>
            </app-button>
          </div>
        </div>
        }
        @if (theme == 'rome') {
        <div class="shop-category-box border-0">
          <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="circle-1">
            <img [src]="category?.category_image ? category?.category_image?.original_url : 'assets/images/category.png'"
              [alt]="category?.name">
          </a>
          <div class="category-name">
            <h6>{{ category.name }}</h6>
          </div>
        </div>
        }
      </ng-template>
      }
    </owl-carousel-o>
  }
</div>
}

<!-- Category Style classic -->
@if (categories && categories.length && style == 'classic') {
<owl-carousel-o [options]="sliderOption">
  @for (category of categories; track category) {
  <ng-template carouselSlide>
    <div>
      <div class="shop-category-box border-0 wow fadeIn">
        <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="circle-1">
          <img [src]="category?.category_icon ? category?.category_icon?.original_url : 'assets/images/category.png'"
            [alt]="category?.name">
        </a>
        <div class="category-name">
          <h6>{{ category.name }}</h6>
        </div>
      </div>
    </div>
  </ng-template>
  }
</owl-carousel-o>
}

<!-- Category Style Filter -->
@if (categories && categories.length && style == 'filter') {
<ul class="nav nav-tabs tab-style-color-2 tab-style-color">
  @for (category of categories; track category) {
  <li class="nav-item">
    <app-button [class]="selectedCategoryId == category.id ? 'nav-link btn active' : 'nav-link btn' " [spinner]="false"
      [id]="'category'+category.id" (click)="selectCategory(category.id)">
      {{category?.name}}
    </app-button>
  </li>
  }
</ul>
}

<!--- Category Style Dropdown -->
@if (categories && categories.length && style == 'dropdown') {
<ul class="category-list">
  @for (category of categories; track category) {
  <li class="onhover-category-list">
    <a href="javascript:void(0)" (click)="redirectToCollection(category.slug!)" class="category-name">
      <img [src]="category?.category_icon ? category?.category_icon?.original_url : 'assets/images/category.png'"
        [alt]="category?.name">
      <h6>{{ category?.name }}</h6>
    </a>
  </li>
  }
</ul>
}

<!-- Input Category Dropdown -->
@if (categories && categories.length && style == 'input_dropdown') {
<app-button [class]="'btn location-button'" [id]="'category_btn'" [spinner]="false" [type]="'button'">
  <select class="form-select locat-name">
    <option>{{ 'all_category' | translate }}</option>
    @for (category of categories; track category) {
    <option>
      {{ category.name }}
    </option>
    }
  </select>
</app-button>
}