@if (image?.redirect_link?.link_type === 'external_url') {
  <a href="{{ image?.redirect_link?.link }}" target="_blank" class="banner-contain d-block h-100">
    @if (bgImage) {
      <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
    }
    @if (!bgImage) {
      <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
    }
  </a>
} @else {
  @if (image?.redirect_link?.link_type === 'collection') {
    <a [routerLink]="['/collections']" [queryParams]="{ category: image?.redirect_link?.link }" >
      @if (bgImage) {
        <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
      }
    </a>
  } @else {
    @if (image?.redirect_link?.link_type === 'product') {
      <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
        @if (bgImage) {
          <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
        }
        @if (!bgImage) {
          <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
        }
      </a>
    } @else {
      @if (bgImage) {
        <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
      }
    }
  }
}
<ng-template #product>
  @if (image?.redirect_link?.link_type === 'product') {
    <a [routerLink]="['/product/', getProductSlug(image?.redirect_link?.link, (product$ | async)?.data!)]">
      @if (bgImage) {
        <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
      }
      @if (!bgImage) {
        <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
      }
    </a>
  } @else {
    @if (bgImage) {
      <div class="h-100 bg-size" [ngClass]="class" [ngStyle]="{'background-image': 'url(' + image?.image_url + ')'}"></div>
    }
    @if (!bgImage) {
      <img src="{{ image?.image_url }}" class="h-100 bg-img w-100" alt="{{ image?.image_url }}">
    }
  }
</ng-template>
